.main-color {
  background: rgb(190,0,0);
  background: linear-gradient(90deg, rgba(190,0,0,1) 0%, rgba(255,149,0,1) 60%, rgb(255, 106, 0) 100%);
}

body {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

h4.card-title {
  color: white;
  font-size: 30px; 
}


.bg-image {
  background-image: url("./images/background3.jpeg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
}

.bg-header {
  text-align: center;
  height: 25em !important;
  transform: translate(-0%, -70%);
}

.main-container{
  position: relative;
  height: 300px;
  overflow: hidden;
}

.navbar {
  font-size: 20px;
}

.footer {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  top: 50%;
  left: 50%;
}


.navbar-brand {
  margin-left: 10px; /* Odstęp między ikoną a napisem */
}

span.navbar-brand {
  font-size: 28px; /* Odstęp między ikoną a napisem */
  font-weight: bold;
}

.homepage-carousel-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.card-border{
  border: 5px solid #ffffff;
  border-radius: 10px;
}

a.nav-link {
  color: white;
}

.left-image {
  background-image: url("./images/Description/Cook.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}

.right-image {
  background-image: url("./images/Description/Delivery.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}

.button-search {
  padding: 30px 400px 30px 400px;
  margin-top: 40px;
  font-size: 25px;
}

h1.about-title {
  font-size: 70px;
  font-weight: bold;
}

.cooking-gif {
  background-color: black;
}

p.about-text {
  font-size: 25px;
}